.red {
    color: #F22E2E;
}

.green {
    color: rgb(180, 199, 35);
}

.white {
    color: #fff;
}

.orange {
    color: #F0933F;
}

.container {
    
}

.body {
    background-color: #F2F2F2;
    /* background-color: #D9D9D9; */
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.description {
    max-width: 250px;
}

.d-block {
    width: 100%;
    height: 700px;
}

  
  .container {
    width: auto;
    /* max-width: 680px; */
    padding: 0 15px;
  }
  
  #logo {
      font-size: 40px;
  }

  .navItem {
      font-size: 25px;
      color: white;
  }


  .newsContainer {
      background-color: white;
      height: 100%;
      width: 100%;
      display: block;
      margin: 0 0;
      padding: 10px 20px;
      border: 1px solid black;
  }

  #nav {
      background-color: #0b2d4c;
  }

.newsTitle {
    font-size: 45px;
    text-align: center;
}

img {
    width: 100%;
    /* padding: 10px; */
    /* border: 1px solid black; */
    background-color: #fff;
}

.riskAssessment {
    width: 100%;
}

.riskAssessmentText {
    display: inline-block;
}

.riskImg {
    display: inline-block;
    margin: 0;
}
